@model Zee_News_WebApi.Models.NewsContent

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NewsContent</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagesLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImagesLink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VideosLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VideosLink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.News)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.News.NewsCategory)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ContentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
